<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'authorization/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'authorization/css/indexforgotpassword.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"
    />
  </head>
  <body>
    <div class="macbook-air-9">
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="parent">
          <div class="div">Восстановление пароля</div>
          <img
            class="twitter-header-photo-2fds-1-icon"
            alt=""
            src="{% static 'authorization/image/twitter_header_photo_2fds 1.svg' %}"
          />
        </div>
        <div class="input-groupemail">
          <input required="" type="text" name="text" autocomplete="off" class="input">
          <label class="user-label">Электронная почта</label>
        </div>
        <button class="buttonsending">
          <div class="div1">Отправить</div>
        </button>
        <div class="container">
          <div class="div2">
            <a href=".">Страница входа</a>
          </div>
        </div>
        <div class="email1">
          Укажите свой email, под которым вы регистрированы на сайте и на него
          будет отправлен временный пароль и информация по восстановлению пароля
        </div>
      </div>
    </div>
  </body>
</html>