<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'authorization/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'authorization/css/indexsignup.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="main">

      {{ message|safe }}

      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="parent">
          <div class="div">Регистрация</div>
          <img class="twitter-header-photo-2fds-1-icon" alt="" src="{% static 'authorization/image/twitter_header_photo_2fds 1.svg' %}"/>
        </div>
        <form method="POST">
        {% csrf_token %}
          <div class="input-groupreg">
            <input required="" type="text" name="email" autocomplete="off" class="input">
            <label class="user-label">Электронная почта</label>
          </div>
          <div class="input-grouppas">
            <input required="" type="password" name="password" autocomplete="off" class="input">
            <label class="user-label">Пароль</label>
          </div>
          <div class="input-grouppastwo">
            <input required="" type="password" name="repeatpassword" autocomplete="off" class="input">
            <label class="user-label">Повтор пароля</label>
          </div>
          <button class="buttonsignup">
            <div class="div1">Зарегистрироваться</div>
          </button>
        </form>
      </div>
      {{ timertomain|safe }}
    </div>
  </body>
</html>