<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'authorization/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'authorization/css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap"
    />
  </head>
  <body>
    <div class="macbook-air-4">
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="rectangle-group">
          <div class="frame-item"></div>
          <div class="google">Войти через Google</div>
          <img class="social-icons" alt="" src="{% static 'authorization/image/Social Icons.svg' %}" />
        </div>
        <div class="parent">
          <div class="div">Вход в личный кабинет</div>
          <img
            class="twitter-header-photo-2fds-1-icon"
            alt=""
            src="{% static 'authorization/image/twitter_header_photo_2fds 1.svg' %}"
          />
        </div>
        <div class="rectangle-container">
          <div class="frame-inner"></div>
          <div class="email">Email</div>
        </div>
        <div class="frame-div">
          <div class="frame-inner"></div>
          <div class="email">Пароль</div>
        </div>
        <div class="rectangle-parent1">
          <div class="frame-item"></div>
          <div class="div2">Войти</div>
        </div>
        <div class="group">
          <div class="div3">Регистрация</div>
          <div class="div4">Забыли пароль?</div>
        </div>
      </div>
    </div>
  </body>
</html>




